<div class="mega-menu">
  <div class="menu-column">
    <h3>Category 1</h3>
    <ul>
      <li><a href="/collections/category-1-1">Subcategory 1-1</a></li>
      <li><a href="/collections/category-1-2">Subcategory 1-2</a></li>
    </ul>
  </div>
  <div class="menu-column">
    <h3>Category 2</h3>
    <ul>
      <li><a href="/collections/category-2-1">Subcategory 2-1</a></li>
      <li><a href="/collections/category-2-2">Subcategory 2-2</a></li>
    </ul>
  </div>
</div>
