<header class="sticky-header"> <!-- Added class for Sticky Header -->
  <nav class="main-navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="mega-menu-parent">
        <a href="/collections/all">Shop</a>
        {% include 'mega-menu' %}
      </li>
      <li><a href="/pages/about">About Us</a></li>
      <li><a href="/pages/contact">Contact</a></li>
    </ul>
  </nav>

  <!-- Sign In -->
  <div class="sign-in">
    {% include 'sign-in' %}
  </div>

  <!-- Promo Message -->
  <div class="promo-message">
    <p>Get 20% off all items with code SAVE20!</p>
  </div>
</header>
