<header>
  <nav class="main-navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/collections/all">Shop</a></li>
      <li><a href="/pages/about">About Us</a></li>
      <li><a href="/pages/contact">Contact</a></li>
    </ul>
  </nav>

  <!-- Promo Message -->
  <div class="promo-message">
    <p>Get 20% off all items with code SAVE20!</p>
  </div>
</header>
