<!-- Example product template -->
<div class="product-description">
    {{ product.description }}
</div>

<!-- Before/After Image Slider within product description -->
<div class="before-after-slider">
    <img src="path_to_before_image.jpg" alt="Before" class="before-image">
    <img src="path_to_after_image.jpg" alt="After" class="after-image">
    <div class="slider-handle"></div>
</div>
